body {
  font: 14px sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  color: #fff;
  border: none;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 120px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.square:focus {
  outline: none;
}

.square.light-blue {
  background-color: #6f98a8;
}
.square.dark-blue {
  background-color: #2b8ead;
}
.square.dark {
  background-color: #2f454e;
}
.square.gray {
  background-color: #bfbfbf;
}
.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.action button {
  background-color: #72c3dc;
  color: white;
  display: block;
  width: max-content;
  min-width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px dodgerblue;
  margin: 4px;
}

footer {
  text-align: center;
  font-style: italic;
  margin: 20px;
}

@media screen and (max-width: 375px) {
  .game {
    flex-direction: column-reverse;
  }
  .square {
    border-bottom: 4px solid #fff;
    font-size: 24px;
    color: black;
    line-height: 50px;
    background-color: #efefef !important;
    height: 50px;
    text-align: center;
    width: 100%;
  }

  .square.light-blue {
    border-left: 8px solid #6f98a8;
  }
  .square.dark-blue {
    border-left: 8px solid #2b8ead;
  }
  .square.dark {
    border-left: 8px solid #2f454e;
  }
  .square.gray {
    border-left: 8px solid #bfbfbf;
  }
  .action {
    flex-direction: row;
    display: flex;
  }
}
